{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Problem 030</title>
</head>
<body>
  <main>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>age</th>
          <th>pronouns</th>
        </tr>
    </thead>
    <tbody>
      {% for person in people %}
        <tr>
          <td>{{ person.name }}</td>
          <td>{{ person.age }}</td>
          <td>{{ person.pronouns }}</td>
        </tr>
      {% endfor %}
      <!--
        The whole tbody, for loop, tr, and td tags to show
        each person's name, age, and pronouns.
      -->
    </tbody>
    </table>
  </main>
</body>
</html>
