{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Problem 027</title>
</head>
<body>
  <main>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Pronouns</th>
        </tr>
      </thead>
      <!--
        The whole tbody, for loop, tr, and td tags to show
        each person's name, age, and pronouns.
      -->
      <tbody>                                   <!-- solution -->
        {% for person in people %}              <!-- solution -->
          <tr>                                  <!-- solution -->
            <td>{{ person.name }}</td>          <!-- solution -->
            <td>{{ person.age }}</td>           <!-- solution -->
            <td>{{ person.pronouns }}</td>      <!-- solution -->
          </tr>                                 <!-- solution -->
        {% endfor %}                            <!-- solution -->
      </tbody>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Pronouns</th>
        </tr>
      </thead>
      <!--
        The whole tbody, for loop, tr, and td tags to show
        each person's name, age, and pronouns.
      -->

    </table>
  </main>
</body>
</html>
